venv/
__pycache__/
*.pyc
backend/.env
media/
staticfiles/
*.log
.idea/
.vscode/
backend/tte.sql*
frontend/node_modules/
backend/catatan.txt
coverage
*.log*
.nuxt
.nitro
.cache
.output
.DS_Store
.idea
.eslintcache
api-generator/typedoc.json
**/.DS_Store