# Django
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,SERVER_IP_OR_DOMAIN
TIME_ZONE=Asia/Jakarta

# MySQL
DB_NAME=tte
DB_USER=tte
DB_PASSWORD=ttepass
DB_ROOT_PASSWORD=rootpass

# MinIO (internal docker)
MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_REGION=us-east-1
MINIO_STATIC_BUCKET=tte-static
MINIO_MEDIA_BUCKET=tte-media

# AWS S3 flags used by your settings.py
AWS_S3_USE_SSL=False
AWS_S3_VERIFY=False
AWS_S3_ADDRESSING_STYLE=path
AWS_QUERYSTRING_AUTH=True
AWS_QUERYSTRING_EXPIRE=900
AWS_S3_SIGNATURE_VERSION=s3v4

# Email (opsional)
EMAIL_HOST=mail.bekasikab.go.id
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=tte@bekasikab.go.id
EMAIL_HOST_PASSWORD=

# App settings
PDP_ENC_KEY=change-me-too
ESIGN_URL=http://10.5.58.79/api/sign/pdf
ESIGN_USERNAME=satte
ESIGN_PASSWORD=@Bekasikab19
FRONTEND_URL=https://tte.bekasikab.go.id
DEFAULT_FROM_EMAIL=tte@bekasikab.go.id
DEFAULT_RESET_EMAIL_DOMAIN=bekasikab.go.id
CORS_ALLOWED_ORIGINS=http://localhost:5173
CORS_ALLOW_CREDENTIALS=False
